<p-toolbar>
  <div class="p-toolbar-group-left">
    <div class="flex flex-row align-items-center">
      <h4 class="ml-3 text-white">Task management EMI</h4>
    </div>
  </div>
</p-toolbar>

<div class="grid">
  <div [ngClass]="'col-10 col-offset-1 mt-5'">
    <router-outlet></router-outlet>
    <p-toast></p-toast>
  </div>
</div>

<div class="layout-footer">
  <img src="../assets/img/logo-emi-falck_1.png" alt="Logo" height="40" class="mr-2"/>
  Powered by
  <span class="font-medium ml-2">EMI &copy; {{currentYear}}</span>
</div>
